:root {
	/* primary */
	--strong-cyan: hsl(172, 67%, 45%);
	/* Neutral */
	--Very-dark-cyan: hsl(183, 100%, 15%);
	--Darker-grayish-cyan: hsl(186, 14%, 43%);
	--Dark-grayish-cyan: hsl(184, 14%, 56%);
	--Light-grayish-cyan: hsl(185, 41%, 84%);
	--grayish-white: hsl(189, 41%, 97%);
	--White: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: "Space Mono", monospace;
	font-size: 12px;
	margin: 0;
	padding: 0;
	/* inputs are 24px */
}

body {
	padding: 40px 0px;
	background-color: var(--Light-grayish-cyan);
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/* logo */
.logo img {
	height: auto;
	width: 100%;
}

.logo {
	width: 65px;
	margin: auto;
	margin-bottom: 20px;
}
/* end logo */

/* calculator */
.calculator {
	max-width: 400px;
	margin: auto;
	padding: 20px 25px;
	background-color: var(--White);
	border-radius: 20px;
}
/* end calculator */
.header {
	color: var(--Darker-grayish-cyan);
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 5px;
}

.text {
	display: flex;
}

input.input {
	border: none;
	background-color: var(--grayish-white);
	width: 100%;
	height: 38px;
	border-radius: 5px;
	text-align: right;
	padding-right: 15px;
	font-size: 24px;
	font-weight: 700;
	color: var(--Very-dark-cyan);
}

input.input::placeholder {
	color: var(--Dark-grayish-cyan);
}

.btn-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	max-width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 40px);
	grid-gap: 15px;
}

input.custom {
	height: 100%;
	width: 100%;
	margin: 0;
	text-align: right;
	padding-left: 20%;
}

input.custom::placeholder {
	opacity: 0.9;
	color: var(--Darker-grayish-cyan);
}

/* properly position our buttons 
do that by selecting all buttons inside grid*/
.btn-grid > button {
	cursor: pointer;
	font-size: 24px;
	border: none;
	background-color: var(--Very-dark-cyan);
	color: var(--White);
	outline: none;
	border-radius: 5px;
}

.btn-grid > button:hover,
button.reset-btn:hover {
	color: var(--Very-dark-cyan);
	background-color: var(--Light-grayish-cyan);
}

.btn-grid > button:focus {
	color: var(--Very-dark-cyan);
	background-color: var(--strong-cyan);
}

/* icons */
input.bill {
	background-image: url(../images/icon-dollar.svg);
	background-repeat: no-repeat;
	background-position: left 15px top 50%;
	background-size: auto 14px;
}

input.num-people {
	background-image: url(../images/icon-person.svg);
	background-repeat: no-repeat;
	background-position: left 15px top 50%;
	background-size: auto 12px;
}
/* end of icons */

/* second container */
.second-container {
	background-color: var(--Very-dark-cyan);
	border-radius: 15px;
	padding: 30px 15px;
}

.section-2.header {
	color: var(--Light-grayish-cyan);
}

span {
	color: var(--Dark-grayish-cyan);
}

div.tip,
div.input,
div.num-people {
	margin-bottom: 20px;
}

.amount {
	display: flex;
	justify-content: space-between;
}

.tip-amount,
.total-amount {
	margin-bottom: 20px;
}

.tip-result-operand,
.total-result-operand {
	font-size: 27px;
	color: var(--strong-cyan);
	font-weight: 500;
}

button.reset-btn {
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 10px 0;
	cursor: pointer;
	font-size: 18px;
	border: none;
	background-color: var(--strong-cyan);
	color: var(--Very-dark-cyan);
	outline: none;
	border-radius: 5px;
	font-weight: 700;
	text-transform: uppercase;
}

button.reset-btn.disabled {
	opacity: 0.5;
}

button.reset-btn.disabled:hover {
	background-color: var(--strong-cyan);
}
/* end of second container */
footer {
	margin-top: auto;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* error for inputs */

.input.error input {
	border: 2px solid red;
}

small {
	visibility: hidden;
}

.input.error small {
	color: red;
	font-size: 13px;
	font-weight: bold;
	margin-left: auto;
	visibility: visible;
}

/* if correct, remove error */
.input.correct input {
	border: none;
}

.input.correct small {
	visibility: hidden;
}

input.input:focus {
	outline: none !important;
	border: 2px solid var(--strong-cyan);
	caret-color: var(--strong-cyan);
}
@media (min-width: 780px) {
	body {
		padding: 100px 0px 20px;
	}

	.logo {
		width: 70px;
		margin-bottom: 50px;
	}

	.calculator {
		max-width: 800px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "first-container second-container";
		grid-gap: 30px;
		padding: 20px;
	}

	.section-1.header {
		margin-bottom: 10px;
	}

	.btn-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 40px);
		grid-gap: 10px;
	}

	input.custom {
		padding-left: 0px;
	}

	div.tip,
	div.input,
	div.num-people {
		margin-bottom: 40px;
	}

	.second-container {
		display: flex;
		flex-direction: column;
		padding: 35px 30px;
	}

	.tip-result-operand,
	.total-result-operand {
		font-size: 36px;
		font-weight: 700;
	}

	.tip-amount {
		margin-bottom: 30px;
	}

	.amount {
		height: 53px;
	}

	.reset-btn {
		margin-top: auto;
	}
}
